body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #F7F3FF;
}

:where(.container, form, .input-field,  header) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.container {
  background: #fff;
  padding: 30px 65px;
  row-gap: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container header {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  font-size: 2.5rem;
  color: #fff;
}

.container h4 {
  font-size: 1.25rem;
  font-weight: 700px;
  color: #333;
}

form .input-field {
  flex-direction: row;
  column-gap: 10px; 
}

.input-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
}

.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.input-field input::-webkit-inner-spin-button, .input-field input::-webkit-outer-spin-button {
  display: none;
}

form button {
  display: block;
  width: 100%;
  font-size: 1rem;
  border-radius: 6px;
  margin-top: 25px;
  padding: 4px 9px;
  color: #fff;
  background: #CBABFF;
  border: none;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.2s ease;
}